# <%=  __FILE__.gsub(/.*?modules\//,'puppet://modules/') %>

[Unit]
Description=Garage S3 server
ConditionPathExists=<%= @data_dir %>


[Service]
Type=simple
User=garage
Group=garage
MemoryHigh=750M
MemoryMax=1G
MemorySwapMax=64M
ExecStart=/usr/local/bin/garage server
Restart=always
RestartSec=30
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target

