export AWS_ACCESS_KEY_ID="<%= @hostname %>-backup"
export AWS_SECRET_ACCESS_KEY="${S3_SECRET}"
export RESTIC_PASSWORD="${RESTIC_SECRET}"
export RESTIC_REPOSITORY="s3:http://<%= @s3_server %>/<%= @hostname %>-backup/restic"
