# <%=  __FILE__.gsub(/.*?modules\//,'puppet://modules/') %>
[Unit]
Description=VictoriaMetrics vminsert
After=syslog.target network.target


[Service]
Type=simple
User=vmetrics
Group=vmetrics
WorkingDirectory=/opt/vmetrics
ExecStart=/opt/vmetrics/bin/vminsert \
    -storageNode <%= @storage_nodes.join(',') %> \
    -pushmetrics.extraLabel='host=\"%H\",service=\"%p\"' \
    -pushmetrics.url=http://127.0.0.1:8480/insert/100:0/prometheus/api/v1/import/prometheus \
    -influxSkipSingleField \
    -replicationFactor <%= @replication_factor %> \
    -sortLabels


Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
