# <%=  __FILE__.gsub(/.*?modules\//,'puppet://modules/') %>
[Unit]
Description=VictoriaMetrics vmstorage
After=syslog.target network.target
RequiresMountsFor=<%= @path %>/data


[Service]
Type=simple
User=vmetrics
Group=vmetrics
WorkingDirectory=/opt/vmetrics
ExecStart=/opt/vmetrics/bin/vmstorage \
    -pushmetrics.extraLabel='host=\"%H\",service=\"%p\"' \
    -pushmetrics.url=http://127.0.0.1:8480/insert/100:0/prometheus/api/v1/import/prometheus \
    -storageDataPath "<%= @path %>/data" \
    -retentionPeriod <%= @retention %> \
    -inmemoryDataFlushInterval 5m \
    -storage.minFreeDiskSpaceBytes "100MB"


Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
