# <%=  __FILE__.gsub(/.*?modules\//,'puppet:///modules/') %>
[Unit]
Description=VictoriaMetrics vmstorage
After=syslog.target network.target
RequiresMountsFor=<%= @path %>/data


[Service]
Type=simple
User=vmetrics
Group=vmetrics
WorkingDirectory=/opt/vmetrics
ExecStart=/opt/vmetrics/bin/vmstorage \
    -pushmetrics.extraLabel='host=\"%H\",service=\"%p\",instance=\"<%= @instance %>\"' \
    -pushmetrics.url=http://127.0.0.1:8480/insert/100:0/prometheus/api/v1/import/prometheus \
    -storageDataPath "<%= @data_path %>" \
    -dedup.minScrapeInterval <%= @min_scrape_interval %> \
    -retentionPeriod <%= @retention %> \
    -inmemoryDataFlushInterval <%= @data_flush_interval %> \
    -httpListenAddr <%= @listen_addr %> \
    -vminsertAddr <%= @vminsert_addr %> \
    -vmselectAddr <%= @vmselect_addr %> \
    -memory.allowedBytes <%= @cache_memory_max %> \
    -storage.minFreeDiskSpaceBytes "100MB"


Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
