AWS_ACCESS_KEY_ID="<%= @hostname %>-backup"
AWS_SECRET_ACCESS_KEY="${S3_SECRET}"
RESTIC_PASSWORD="${RESTIC_SECRET}"
RESTIC_REPOSITORY="s3:http://<%= @s3_server %>/<%= @hostname %>-backup/restic"
XDG_CACHE_HOME=/var/spool/restic
RESTIC_HOST=<%= @hostname %>
RESTIC_COMPRESSION=max
export AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY RESTIC_PASSWORD RESTIC_REPOSITORY RESTIC_HOST XDG_CACHE_HOME

# to add this user to minio run
# m-c admin user add local <%= @hostname %>-backup ${S3_SECRET}
# m-c admin policy attach local backup_user --user  <%= @hostname %>-backup
<% %>