[Unit]
Description=Run restic file [<%= @title %>]

[Timer]
<%- if @at_boot -%>
OnBootSec=5min
<%- end -%>
#OnUnitActiveSec=5m
RandomizedDelaySec=<%= @randomized_delay %>
# run if host was restarted in meantime
Persistent=true
#systemd-analyze calendar --iterations=5 *-*-* 3:00 to validate
OnCalendar=<%= @backup_schedule %>
Unit=restic-file-<%= @title %>.service

[Install]
WantedBy=timers.target