[Unit]
Description=Run restic maintenance

[Timer]
OnBootSec=5min
OnUnitActiveSec=5m
RandomizedDelaySec=3m
# run if host was restartd in meantime
# Persistent=true
# OnCalendar=*-*-* *:*/5:00
Unit=restic-maintenance.service

[Install]
WantedBy=timers.target