[Unit]
Description=restic postgresql

[Service]
Type=oneshot
#Restart=always
EnvironmentFile=/etc/restic/env
ExecStart=/bin/bash -c 'sudo -u postgres pg_dumpall  | restic backup --tag <%= @backup_tag %> <%= @extra_flags %> --stdin --stdin-filename postgresql.sql'
