[Unit]
Description=Run restic maintenance

[Timer]
#OnBootSec=5min
#OnUnitActiveSec=5m
RandomizedDelaySec=120m
FixedRandomDelay=true
# run if host was restarted in meantime
Persistent=true
#systemd-analyze calendar --iterations=5 *-*-* 3:00 to validate
OnCalendar=Sun *-*-* 3:00
Unit=restic-maintenance.service

[Install]
WantedBy=timers.target
