[Unit]
Description=restic file [<%= @title %>]

[Service]
Type=oneshot
#Restart=always
EnvironmentFile=/etc/restic/env
ExecStart=/usr/local/bin/restic backup --tag <%= @backup_tag %> <%= @extra_flags %> "<%= @directory %>"

