[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo
[submodule "modules/puppet-logrotate"]
	path = modules/logrotate
	url = https://github.com/rodjek/puppet-logrotate
[submodule "modules/docker"]
	path = modules/docker
	url = https://github.com/XANi/garethr-docker.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/jfryman/puppet-nginx.git
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules/keepalived"]
	path = modules/keepalived
	url = https://github.com/arioch/puppet-keepalived
[submodule "modules/network"]
	path = modules/network
	url = https://github.com/puppet-community/puppet-network.git
[submodule "modules/bird"]
	path = modules/bird
	url = https://github.com/XANi/puppet-bird.git
