# puppet managed template, for more info 'puppet-find-resources $filename'
# <%=  __FILE__.gsub(/.*?modules\//,'puppet://modules/') %>
[Unit]
Description=collectd server


[Service]
ExecStart=/usr/sbin/collectd -f -C /etc/collectd/collectd-server.conf
TimeoutStopSec=30s
Restart=always
RestartSec=30s

[Install]
WantedBy=multi-user.target
