# <%=  __FILE__.gsub(/.*?modules\//,'puppet://modules/') %>

[Unit]
Description=Rustfs S3 server
ConditionPathExists=<%= @data_dir %>


[Service]
Type=simple
User=rustfs
Group=rustfs
Environment=RUSTFS_ACCESS_KEY=<%= @access_key %>
Environment=RUSTFS_SECRET_KEY=<%= @secret_key %>
Environment=RUSTFS_ADDRESS=":9003"
Environment=RUSTFS_CONSOLE_ADDRESS=":9004"
Environment=RUSTFS_CONSOLE_ENABLED="true"
Environment=RUSTFS_LOG=error
Environment=RUSTFS_OBS_LOG_DIRECTORY="/var/log/rustfs/"
Environment=RUSTFS_SCANNER_SPEED=slowest
<%- if @oltp_exporter_url -%>
Environment=RUSTFS_OBS_ENDPOINT=<%= @oltp_exporter_url %>
Environment=RUSTFS_OBS_METER_INTERVAL=10
Environment=RUSTFS_OBS_PROFILING_EXPORT_ENABLED=0
Environment=RUSTFS_OBS_LOGS_EXPORT_ENABLED=0
Environment=OTEL_SERVICE_NAME="rustfs"
Environment=OTEL_RESOURCE_ATTRIBUTES="host=<%= @hostname %>,service=rustfs"
<%- end -%>
MemoryMax=1G
MemorySwapMax=64M
ExecStart=/usr/local/bin/rustfs server "<%= @data_dir %>"
Restart=always
RestartSec=30
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target

