#<%= @puppet_header %>
# <%=  __FILE__.gsub(/.*?puppet\//,@fqdn + ':') %>

[Unit]
Description=DPP
After=network.target


[Service]
ExecStart=/opt/dpp/dpp
TimeoutStopSec=30
Restart=always
RestartSec=60s
WorkingDirectory=/opt/dpp

[Install]
WantedBy=multi-user.target
