# <%=  __FILE__.gsub(/.*?modules\//,'puppet:///modules/') %>
[Unit]
Description=VictoriaLogs
After=syslog.target network.target
RequiresMountsFor=<%= @data_path %>/data


[Service]
Type=simple
User=vlogs
Group=vlogs
WorkingDirectory=/opt/vlogs
ExecStart=/opt/vlogs/bin/victoria-logs \
    -storageDataPath=/var/lib/vlogs \
    -memory.allowedPercent=10 \
    -loggerDisableTimestamps \
    -inmemoryDataFlushInterval 300s \
    -retentionPeriod=90d



Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
