#<%= @puppet_header %>
# <%=  __FILE__.gsub(/.*?puppet\//,@fqdn + ':') %>

[Unit]
Description=DPP
After=network.target


[Service]
ExecStart=/opt/commento/app/commento
TimeoutStopSec=30
Restart=always
RestartSec=60s
EnvironmentFile=/opt/commento/cfg/env.cfg
Environment=COMMENTO_PORT=<%= @port %>
Environment=COMMENTO_ORIGIN=<%= @origin_domain %>
Environment=COMMENTO_STATIC=/opt/commento/static
Environment=COMMENTO_GZIP_STATIC=true
Environment=COMMENTO_SMTP_HOST=127.0.0.1
Environment=COMMENTO_SMTP_PORT=25
WorkingDirectory=/opt/commento/app
User=commento
Group=commento

[Install]
WantedBy=multi-user.target
