#<%= @puppet_header %>
# <%=  __FILE__.gsub(/.*?puppet\//,@fqdn + ':') %>

[Unit]
Description=DPP
After=network.target


[Service]
ExecStart=/opt/commento/app/commento
TimeoutStopSec=30
Restart=always
RestartSec=60s
EnvironmentFile=/opt/commento/cfg/env.cfg
Environment=COMMENTO_PORT=${port}
Environment=COMMENTO_ORIGIN=${origin_domain}
WorkingDirectory=/opt/commento
User=commento
Group=commento

[Install]
WantedBy=multi-user.target
