# <%= @puppet_header %>
# <%=  __FILE__.gsub(/.*?puppet\//,@fqdn + ':') %>
<%
  recommend = 0
  suggest = 0
  if @install_recommended
    recommend = 1
  end
  if @install_suggested
    suggest = 1
  end
%>

APT::Install-Recommends "<%= recommend %>";
APT::Install-Suggests "<%= suggest %>";
