# <%= @puppet_header %>
# <%=  __FILE__.gsub(/.*?puppet\//,@fqdn + ':') %>
#
# <%= @title %>
#   <% if @comment %><%= @comment.split("\n").join("\n#   ") %>
#
<%  @repo_types.sort.each do |repo_type|
        if @url[repo_type] then
            @url[repo_type].sort.each do |url|
-%>
<%= repo_type %> <%= url %>
<%- end -%>
<%- end -%>
<% end %>
<% end %>