# <%= @puppet_header %>
# <%=  __FILE__.gsub(/.*?puppet\//,@fqdn + ':') %>
<%
@repos.keys.sort.each do |repo| %>
# <%= repo %>
#   <%= @repos[repo]['comment'] %>
#
<%  @repo_types.sort.each do |repo_type|
        if @repos[repo]['url'][repo_type] then
            @repos[repo]['url'][repo_type].sort.each do |url|
-%>
# <%= repo_type %> <%= url %>
            <%- end -%>
        <%- end -%>
    <%- end -%>
<% end %>

<% if File.exists?('/etc/apt/local-sources.list') %>
<%= scope.function_template(['/etc/apt/local-sources.list']) %>
<% end %>
