# <%=  __FILE__.gsub(/.*?modules\//,'puppet://modules/') %>

[Unit]
Description=Minio S3 server
ConditionPathExists=<%= @data_dir %>


[Service]
Type=simple
User=minio
Group=minio
Environment=MINIO_ROOT_USER=<%= @access_key %>
Environment=MINIO_ROOT_PASSWORD=<%= @secret_key %>
Environment=MINIO_PROMETHEUS_AUTH_TYPE=public
ExecStart=/usr/local/bin/minio server --console-address <%= @console_address %> --address <%= @api_listen_host %>:9000  "<%= @data_dir %>"
Restart=always
RestartSec=30
LimitNOFILE=40000

[Install]
WantedBy=multi-user.target

